.wrapper {
    max-width: 100vw;
    height: 100%;

}

.container li {
    cursor: pointer;
}
.nav-menu{
    display: none;
}

.nav-lists-item-text:hover,
.nav-lists-item:hover .nav-lists-item-text,
.box-content-list-item a:hover,
.list-item:hover,
.navbar-list-item-icon:hover,
.company-logo:hover,
.nav-menu:hover
{
    color: var(--header-text-color-hover);
}

.container {
    height: 100%;
    color: var(--header-text-color);
}

.primary-header {
    height: 3rem;
}

.company-logo {
    cursor: pointer;
    font-family: cursive;
}

.nav-list-item-box {
    position: absolute;
    display: flex;
    top: 45px;
    box-shadow: 5px 8px 10px rgb(0 0 0 / 20%);
    padding: 30px;
    gap: 1rem 3rem;
    max-width: 48vw;
    background-color: var(--bg-white);
    flex-wrap: wrap;
    cursor: default;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition-delay: .1s;
    z-index: 6;
}

.item-box-content{
    color:blueviolet;
    width: 7rem;
}
.nav-lists-item:hover .nav-list-item-box,
.nav-list-item-box:hover {
    visibility: visible;
    opacity: 1;
    transition: all .3s;
}

.item-box-content-lists {
    margin-top: 14px;
}

.box-content-list-item {
    display: grid;
}

.box-content-list-item a {
    text-decoration: none;
    color: cadetblue;
    margin-bottom: 6px;
}

.img-box {
    flex-shrink: 0;
    width: 15rem;
}
.main {
    flex-grow: 1;
    padding-top: 10px;
}

.main-container {
    width: 70vw;
    margin: auto;
}

.step-link-list-item:not(.step-link-list-item:last-child) {
    color: cadetblue;
    opacity: .6;
}

.main-card-view {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-image-back);
    padding: 20px 40px;
    margin-top: 20px;
    height: 20rem;
    gap: 0 40px;
    color: #bb5252;
}

.card-text {
    flex-grow: 1;
}

.search-box {
    justify-content: end;
    margin: 36px 0px 16px;
    color: #6a6a7e;
    position: relative;
    z-index: 2;
}

.plus {
    font-size: 25px;
    flex-shrink: 0;
    width: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    height: 100%;
    background-color: #fff;
    z-index: 2;
    border-radius: 0 4px 4px 0;
    border: 1px solid lightskyblue;
    border-left: 0;
}

.dropdown-item {
    flex-grow: 1;
    padding-left: 10px;
    border: 1px solid lightskyblue;
    border-right: 0;
    background-color: #fff;
    z-index: 2;
    height: 102%;
    border-radius: 4px 0 0 4px;
    cursor: default;
}


.search-input {
    position: relative;
    line-height: 2rem;
    height: 2rem;
    width: 10rem;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.plus:after,
.plus:before {
    content: '';
    height: 13px;
    width: 2px;
    border-radius: 10px;
    background: rgb(12, 125, 162);
    position: absolute;
    transition: all .3s;
}

.plus:before {
    height: 2px;
    width: 13px;
}

.dropdown-list {
    position: absolute;
    border: 1px solid lightskyblue;
    border-top: 0;
    top: 26px;
    left: 0px;
    width: 100%;
    color: initial;
    border-radius: 0 0 4px 4px;
    padding-block: 8px;
    text-transform: uppercase;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-30px);
    transition: all .3s;
    z-index: 0;
    background: #fff;
}

.drop:after {
    transform: rotateZ(90deg);
    background-color: rgb(180, 50, 50);
    transition: all .3s;
}

.drop:before {

    background-color: transparent;
    transition: all .3s;
}

.drop+.dropdown-list,
.dropdown-list:hover {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.drowpdown-item {
    padding: 0px 10px;
}

.drowpdown-item:hover {
    background: pink;
    color: darkblue;
}



.list-item-dropdown {
    justify-content: space-between;
    gap: 30px;
    opacity: .7;
}
.list-item-dropdown p {
    cursor: pointer;
}
.list-item-list {
    padding-left: 10px;
    margin: -6px 0 14px;
    display: none;
}
.sidebar-list-item.active .list-item-list{
    display: block;
}

.product-image {
    width: 12rem;
    height: 12rem;
    padding: 20px;
    background:var(--bg-image-back);
    cursor: pointer;
}
.product-image:hover {
    background:var(--bg-image-back-hover);
}

.product-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product {
    margin-bottom: 30px;
}

.product-price {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color:var(--header-text-color);
    cursor: pointer;
}
.list-item {
    cursor: pointer;
}
.filter-box {
    display: none !important;
}
.navbar{
display: block;
}


/* mobile respose css */
@media(max-width:786px){
    .navbar{
        position:absolute;
        display: none;
    }
    .nav-menu{
        display: block;
        cursor: pointer;
    }
    ul.nav-lists {
        position: fixed;
        left: 0;
        flex-direction: column;
        top: 0;
        height: 100vh;
        background: #5a57a2;
        color: #fff;
        width: 50%;
        z-index: 6;
        align-items: start;
        padding: 45px 37px;
        
    }
    
    ul.nav-lists:after {
        content: 'X';
        position: absolute;
        top: 6px;
        font-size: 20px;
        left: 10px;
        color: yellowgreen;
    }
    

    .navbar-list-item-icon:not(.navbar-list-item-icon:last-child) {
        display: none;
    }
    .nav-list-item-box {
        top: unset;
        gap: 1rem 2rem;
        max-width:100%;
        padding: 16px;
    }
    .main-card-view {
        position: relative;
    }
    .main-container {
        width: 100%;
        margin: auto;
        padding-inline: 16px;
    }
    .card-text {
        max-width: 80%;
        z-index: 1;
        color: #7a4cb3;
        text-align: center;
        text-shadow: 2px 2px 4px #a52a2a82;
    }
    .img-box {
        position: absolute;
        z-index: 0;
    }
    .product-image {
        width: 100%;
        height: 94%;
        padding: 20px;
        background: var(--bg-image-back);
        cursor: pointer;
    }
    .search-box {
        justify-content: space-between;
        align-items: center;
        margin: 26px 0px 0px;
        color: #6a6a7e;
        position: relative;
    }
    .main-card-view-box {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 20px;
    }
    .sidebar{
        display: none;
    }
    .filter-input {
        position: relative;
        line-height: 2rem;
        height: 2rem;
        width: 100%;
        display: flex;
        align-items: center;  
    }
    .filter-box {
        display: block !important;
        margin-top: 10px;
        color: #6a6a7e;
        position: relative;
        z-index: 5;
    }
}